{% extends "admin/base_site.html" %}

{% block content %}
<script>
$(document).ready(function() {
	
    $("#id_prog").busyChange(function(){
    	courseProgramFilter.filter();
    });
    $("#id_class_year").busyChange(function(){
        courseProgramFilter.filter();
    });
    
    var courseProgramFilter=new filter("#id_cour", function(){
        return '/api/getFilteredCourses/?programId='+$("#id_prog").val()
            +'&year='+$("#id_class_year").val();
    }, function(i, all, hash, data){
        return all[hash[data[i]['fields']['course']]];
    });
    courseProgramFilter.filter();
});

</script>
<form action="/student/ClassList/" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
<table>
<tr>
<th>#</th>
<th>Vpisna številka</th>
<th>Priimek</th>
<th>Ime</th>
</tr>
{% for s in students %}
<tr>
<td>{{forloop.counter}}</td>
<td>{{s.student.enrollment_number}}</td>
<td>{{s.student.surname}}</td>
<td>{{s.student.name}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}