{% extends "admin/base_site.html" %}

{% block content %}

    <ul>
        {% for rok in izpitni_roki %}
            <li>
            <table>
            <tr>
            <th style="width:500px;" colspan="4">{{rok}}</th>
            </tr>
            <tr>
            <td><a href="/student/ExamGrades/{{rok.pk}}/">Seznam prijavljenih</a></td>
            <td><a href="/student/ExamGrades/{{rok.pk}}/">Vnos rezultatov pisnega dela</a></td>
            <td><a href="/student/ExamGrades/{{rok.pk}}/">Izpis seznama rezultatov pisnega dela</a></td>
            <td><a href="/student/ExamGrades/{{rok.pk}}/">Vnos končnih ocen</a></td>
            </tr>
            </table>
            </li>
        {% endfor %}
    </ul>


{% endblock %}