{% extends "admin/base_site.html" %}

{% block content %}

<h2>Kartotečni list za: {{student}}</h2>
    {% if data %}
    {% for d in data %}
        <hr>
        <br>
        <strong>Študijski program:</strong> {{d.program}}<br>
        <strong>Študijsko leto:</strong> {{d.study_year}}<br>
        <strong>Letnik:</strong> {{d.letnik}}<br>
        <strong>Vrsta vpisa:</strong> {{d.enrollment_type}}<br>
        <strong>Način:</strong> {{d.redni}}<br>
        {% if d.povprecje %}
        <strong>Povprečje izpitov:</strong> {{d.povprecje_izpitov}}<br>
        <strong>Povprečje vaj:</strong> {{d.povprecje_vaj}}<br>
        <strong>Povprečna ocena:</strong> {{d.povprecje}}<br>
        {% endif %}
        <br>
        {% if d.courses %}
            <table cellpadding="0" cellspacing="0" class="sortable" style="width:85%">
                <tr class="first-row">
                    <td><strong>#</strong></td>
                    <td style="width:7%"><strong>Šifra</strong></td>
                    <td style="width:35%"><strong>Predmet</strong></td>
                    <td style="width:7%"><strong>KT/U</strong></td>
                    <td style="width:25%"><strong>Predavatelj(i)</strong></td>
                    <td style="width:15%"><strong>Datum</strong></td>
                    <td style="width:10%"><strong>Ocena</strong></td>
                    <td style="width:5%"><strong>Št. Polaganj</strong></td>
                </tr>
                {% for c in d.courses %}
                <tr>
                <td><strong>{{c.cntr}}</strong></td>
                <td>{{c.sifra_predmeta}}</td>
                <td>{{c.name}}</td>
                <td>6</td>
                {% if c.signups %}
                    <td>
                    {% for s in c.signups %}
                        {{s.izvajalci}}<br>
                    {% endfor %}
                    </td>
                    <td>
                    {% for s in c.signups %}
                        {{s.datum}}<br>
                    {% endfor %}
                    </td>                    
                    <td>
                    {% for s in c.signups %}
                        {{s.ocena}}<br>
                    {% endfor %}
                    </td>
                    <td>
                    {{c.polaganja}}
                    </td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}                
                </tr>
                {% endfor %}
            </table>
        {% else %}
            Za vpis ni predmetov.<br>
        {% endif %}
        <br>
    {% endfor %}
    {% else %}
        Za študenta ni vpisov.<br>
    {% endif %}



{% endblock %}
