{% extends "admin/base_site.html" %}

{% block content %}

<h2>Kartotečni list za: {{student}}</h2>
    {% for d in data %}
        {% if d.noprogram %}
        <strong>Študijski program:</strong> {{d.program}}<br>
        {% endif %}
        <strong>Študijsko leto:</strong> {{d.enroll.study_year}}<br>
        
        {% if d.courses %}
            <table cellpadding="0" cellspacing="0" class="sortable" style="width:70%">
                <tr class="first-row">
                    <td style="width:10%"><strong>Šifra</strong></td>
                    <td style="width:30%"><strong>Predmet</strong></td>
                    <td style="width:30%"><strong>Predavatelj(i)</strong></td>
                    <td style="width:15%"><strong>Datum</strong></td>
                    <td style="width:10%"><strong>Ocena</strong></td>
                    <td style="width:5%"><strong>Št. Polaganj</strong></td>
                </tr>
                {% for c in d.courses %}
                <tr>
                <td>{{c.sifra_predmeta}}</td>
                <td>{{c.name}}</td>
                {% if c.signups %}
                    <td>
                    {% for s in c.signups %}
                        {{s.izvajalci}}<br>
                    {% endfor %}
                    </td>
                    <td>
                    {% for s in c.signups %}
                        {{s.datum}}<br>
                    {% endfor %}
                    </td>                    
                    <td>
                    {% for s in c.signups %}
                        {{s.ocena}}<br>
                    {% endfor %}
                    </td>
                    <td>
                    {{c.stevilo_polaganj}}{{c.odstevek_ponavljanja}}                    
                    </td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}                
                </tr>
                {% endfor %}
            </table>
        {% else %}
            Za študijsko leto ni predmetov<br>
        {% endif %}
        <br>
    {% endfor %}



{% endblock %}
