{% extends "admin/base_site.html" %}

{% block content %}

<h2>Rezultati izpita: {{izpitnirok.course}}, {{izpitnirok.date|date:"d.m.Y" }}</h2>

    <table cellpadding="0" cellspacing="0" class="sortable">
        <tr class="first-row">
            <th>#</th>
            <th>Priimek</th>
            <th>Ime</th>
            <th>Vpisna številka</th>
            <th>Število Točk</th>
            <th>Ocena Pisni</th>
            <th>Ocena Vaje</th>
        </tr>
        {% for p in prijave %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>{{forloop.counter}}</td>
                <td>{{p.priimek}}</td>
                <td>{{p.ime}}</td>
                <td>{{p.vpisna_st}}</td>
                <td><input type="text" value={{ p.tocke }}/></td>
                <td>
                    <select>
                    {% for choice in p.opcije %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select>
                        {% for choice in p.opcije %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                </td>

            </tr>
        {% endfor %}
    </table>



{% endblock %}
