.navbar, .navbar .nav > li > a {
	color:white !important;
	font-size:14px;
	margin-bottom: 0px;
}
.navbar .brand{
	color:white;
	font-weight:bold;
	
}
.navbar-inner{
	
	background-color:#7CA0C7; background-image:none !important;
	border-radius:0px !important;
}
#user-tools a:link, #user-tools a:visited{
	color:white;
	text-decoration: underline;
}
.brand a:link, .brand a:visited{
    color:white;
}
label, select{
	display:inline !important;
}
li {
	list-style: none !important;
	
}

h2 {
	line-height: inherit;
}

.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull{
	

}

#changelist-filter {
	width: 300px !important;	
}
.change-list .filtered{
	
	background-color:#EFEFEF !important;
}
#changelist-form{
	
	margin-right: 140px;
	background-color:#EFEFEF;
}